include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/random_name *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/random_name/migration *.ini *.py *.mako
recursive-include ckanext/random_name/public *.*
