{% ckan_extends %}

{% block extras %}
{% if pkg_dict.publication_type %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Publication Type") }}</th>
  <td class="dataset-details">{{ pkg_dict.publication_type }}</td>
</tr>
{% endif %}
{% if pkg_dict.publication_year %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Publication Year") }}</th>
  <td class="dataset-details">{{ pkg_dict.publication_year }}</td>
</tr>
{% endif %}
{% if pkg_dict.contributor_name %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Contributor Name") }}</th>
  <td class="dataset-details">{{ pkg_dict.contributor_name }}</td>
</tr>
{% endif %}
{% if pkg_dict.contributor_email %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Contributor Email") }}</th>
  <td class="dataset-details">{{ pkg_dict.contributor_email }}</td>
</tr>
{% endif %}
{% if pkg_dict.contributor_type %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Contributor Type") }}</th>
  <td class="dataset-details">{{ pkg_dict.contributor_type }}</td>
</tr>
{% endif %}
{% if pkg_dict.journal_volume %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Journal Volume") }}</th>
  <td class="dataset-details">{{ pkg_dict.journal_volume }}</td>
</tr>
{% endif %}
{% if pkg_dict.journal_issue %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Journal Issue") }}</th>
  <td class="dataset-details">{{ pkg_dict.journal_issue }}</td>
</tr>
{% endif %}
{% if pkg_dict.journal_page_range %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Journal Page Range") }}</th>
  <td class="dataset-details">{{ pkg_dict.journal_page_range }}</td>
</tr>
{% endif %}
{% if pkg_dict.isbn %}
<tr>
  <th scope="row" class="dataset-label">{{ _("ISBN") }}</th>
  <td class="dataset-details">{{ pkg_dict.isbn }}</td>
</tr>
{% endif %}
{% if pkg_dict.issn %}
<tr>
  <th scope="row" class="dataset-label">{{ _("ISSN") }}</th>
  <td class="dataset-details">{{ pkg_dict.issn }}</td>
</tr>
{% endif %}
{% if pkg_dict.placeOf_publication %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Place of Publication") }}</th>
  <td class="dataset-details">{{ pkg_dict.placeOf_publication }}</td>
</tr>
{% endif %}
{% if pkg_dict.existing_doi %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Existing DOI") }}</th>
  <td class="dataset-details">{{ pkg_dict.existing_doi }}</td>
</tr>
{% endif %}
{% if pkg_dict.pubMedID %}
<tr>
  <th scope="row" class="dataset-label">{{ _("PubMeb ID") }}</th>
  <td class="dataset-details">{{ pkg_dict.pubMedID }}</td>
</tr>
{% endif %}
{% if pkg_dict.webAddress %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Web Address") }}</th>
  <td class="dataset-details">{{ pkg_dict.webAddress }}</td>
</tr>
{% endif %}
{% if pkg_dict.relatedOutput %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Related Output") }}</th>
  <td class="dataset-details">{{ pkg_dict.relatedOutput }}</td>
</tr>
{% endif %}
{% if pkg_dict.openAccess %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Open Access") }}</th>
  <td class="dataset-details">{{ pkg_dict.openAccess }}</td>
</tr>
{% endif %}
{% if pkg_dict.funder_code %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Funder Code") }}</th>
  <td class="dataset-details">{{ pkg_dict.funder_code }}</td>
</tr>
{% endif %}
{% if pkg_dict.funder_name %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Funder Name") }}</th>
  <td class="dataset-details">{{ pkg_dict.funder_name }}</td>
</tr>
{% endif %}
{% if pkg_dict.output_status %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Output Status") }}</th>
  <td class="dataset-details">{{ pkg_dict.output_status }}</td>
</tr>
{% endif %}
{% if pkg_dict.strategic_area %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Strategic Area") }}</th>
  <td class="dataset-details">{{ pkg_dict.strategic_area }}</td>
</tr>
{% endif %}
{% if pkg_dict.site %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Site") }}</th>
  <td class="dataset-details">{{ pkg_dict.site }}</td>
</tr>
{% endif %}
{% if pkg_dict.additional_information %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Additional Information") }}</th>
  <td class="dataset-details">{{ pkg_dict.additional_information }}</td>
</tr>
{% endif %}
{% if pkg_dict.national_capability %}
<tr>
  <th scope="row" class="dataset-label">{{ _("National Capability") }}</th>
  <td class="dataset-details">{{ pkg_dict.national_capability }}</td>
</tr>
{% endif %}
{% if pkg_dict.national_capability_list %}
<tr>
  <th scope="row" class="dataset-label">{{ _("National Capability Used") }}</th>
  <td class="dataset-details">{{ pkg_dict.national_capability_list }}</td>
</tr>
{% endif %}
{% if pkg_dict.patentable %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Is anything patentable?") }}</th>
  <td class="dataset-details">{{ pkg_dict.patentable }}</td>
</tr>
{% endif %}
{% endblock %}