{% ckan_extends %}

{% block extras %}
  {% if pkg_dict.publication_type %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Publication Type") }}</th>
      <td class="dataset-details">{{ pkg_dict.publication_type }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.publication_year %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Publication Year") }}</th>
      <td class="dataset-details">{{ pkg_dict.publication_year }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.contributor_name %}
  <tr>
    <th scope="row" class="dataset-label">{{ _("Contributor Name") }}</th>
    <td class="dataset-details">{{ pkg_dict.contributor_name }}</td>
  </tr>
  {% endif %}
  {% if pkg_dict.contributor_email %}
  <tr>
    <th scope="row" class="dataset-label">{{ _("Contributor Email") }}</th>
    <td class="dataset-details">{{ pkg_dict.contributor_email }}</td>
  </tr>
  {% endif %}
  {% if pkg_dict.contributor_type %}
  <tr>
    <th scope="row" class="dataset-label">{{ _("Contributor Type") }}</th>
    <td class="dataset-details">{{ pkg_dict.contributor_type }}</td>
  </tr>
  {% endif %}
  {% if pkg_dict.journal_volume %}
  <tr>
    <th scope="row" class="dataset-label">{{ _("Journal Volume") }}</th>
    <td class="dataset-details">{{ pkg_dict.journal_volume }}</td>
  </tr>
  {% endif %}
  {% if pkg_dict.journal_issue %}
  <tr>
    <th scope="row" class="dataset-label">{{ _("Journal Issue") }}</th>
    <td class="dataset-details">{{ pkg_dict.journal_issue }}</td>
  </tr>
  {% endif %}
  {% if pkg_dict.journal_page_range %}
  <tr>
    <th scope="row" class="dataset-label">{{ _("Journal Page Range") }}</th>
    <td class="dataset-details">{{ pkg_dict.journal_page_range }}</td>
  </tr>
  {% endif %}
  
{% endblock %}
