{% ckan_extends %}
{% block package_basic_fields_custom %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
    integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
    crossorigin=""></script>
</head>

<!-- 
#######################
#######################
#### Common Fields #### 
####################### 
#######################
#######################
-->

<body>
  <!-- Alternative Name -->
  <label for="field-alternative_name">Alternative Title</label><br>
  <input type="text" id="field-alternative_name" placeholder="eg. Alternative Title" class="control-medium"
    value="{{ data.alternative_name }}" name="alternative_name">
  <br><br>
  <!-- start here  -->
  <style>
    pre {
      color: rgb(0, 0, 0);
      font: 1em sans-serif;
    }

    p {
      color: black;
      font: 1em sans-serif
    }


    #creatorDisp {
      display: flex;
      flex-wrap: wrap;
    }

    .creator-item {
      background-color: #f0f0f0;
      padding: 5px;
      margin: 5px;
      border-radius: 5px;
      display: block;
    }

    .creator-item .close-btn {
      cursor: pointer;
      margin-left: 5px;
    }
  </style>
  <label id="creatorLabel"><strong>*Dataset Authors (Mandatory)</strong></label>
  <label for="field-name">Name</label><br>
  <input type="text" id="field-name" placeholder="John Cena" name="name" class="control-medium">
  <br><br>

  <label for="field-citation">Preferred Citation</label><br>
  <input type="text" id="field-citation" placeholder="C. John" name="citation" class="control-medium">
   <button type="button" onclick="addCreator()">Add Creator</button>

  <pre id='errorMessage'></pre>
  <div id="creatorDisp"></div>
  <br>

  <br><br>
  <!-- ####################################################################################################### -->
<script>

    var $j = jQuery.noConflict();
   
    var creator = [];
    var pref_citation = [];
   
    if ("{{ data.author }}") {
      creator = "{{data.author}}".split(",")
      pref_citation = "{{data.preferred_citaion}}".split(",");
      
    }
    const creatorList = document.getElementById('creatorDisp');
    if (creator[0] != '') {
      for (let i = 0; i < creator.length; i++) {
        displayCreators(creator[i], pref_citation[i]);
      }
    }


    function addCreator() {
      let name = document.getElementById('field-name').value;
      let citations = document.getElementById('field-citation').value;
      

      //Clear the fields
      try {
        if (!name) {
          throw new Error('Names Should Not Be Empty');
        }
      }
      catch (err) {
        document.getElementById('errorMessage').innerHTML = err.message;
        return;
      }
      clearCreatorInputFields();
      
      creator.push(name);
      if (citations) {
        pref_citation.push(citations);
      }
      else {
        pref_citation.push(name);
      }
     
      document.getElementById('field-author').value = creator;
      document.getElementById('field-preferred_citation').value = citation;
      

      displayCreators(name, citations);
    }

    function clearCreatorInputFields() {
      document.getElementById('field-name').value = '';
      document.getElementById('field-citation').value = '';
      document.getElementById('errorMessage').innerHTML = '';
    }
    function displayCreators(name, citation) {
      let index = creator.indexOf(name);
      const creatorItem = document.createElement("div");
      creatorItem.classList.add('creator-item');
      creatorItem.innerHTML = `
          ${name}, ${citation}     <span class="close-btn" onclick="removeCreator(this)"><i class="fas fa-trash"></i></span>
      `;
      creatorList.appendChild(creatorItem);
      //displayCreatorPre();
    }



    function removeCreator(closeBtn) {
      const creatorItem = closeBtn.parentNode;
      creatorList.removeChild(creatorItem);
      let name = creatorItem.textContent.trim();
      name = name.split(",");
      name = name[0];
      // name = name.slice(0, -1);
      name = name.trim();
      let index = creator.indexOf(name);
      creator.splice(index, 1);
      pref_citation.splice(index, 1);
      
      document.getElementById('field-author').value = creator;
      document.getElementById('field-preferred_citation').value = pref_citation;
      
      //displayCreatorPre();
    }

  </script>

<!-- ##################################################################################### -->
  <!-- End here -->
  <div style="display: block;">
    <!-- Author -->
    {% block package_metadata_author %}
    {{ form.input('author', label=_('Author'), id='field-author', placeholder=_('Joe Bloggs'), value=data.author,
    error=errors.author, classes=['control-medium']) }}
    {% endblock %}
    <!-- Preferred Citation -->
    <label for="field-preferred_citation">Preferred Citation</label><br>
    <input type="text" id="field-preferred_citation" placeholder="eg. Bloggs, J. (2023). Title of the work."
      class="control-medium" value="{{ data.preferred_citation }}" name="preferred_citation">
    <br><br>
  </div>
  <!-- Abstract -->
  <label for="field-abstract">Abstract</label><br>
  <textarea id="field-notes" placeholder="eg. Some useful notes about the data" class="control-medium"
    style="width: 500px; height: 50px;" name="notes"> {{ data.notes }} </textarea>
  <br><br>


  <!-- Keywords -->

  {% block package_basic_fields_tags %}
  {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source':
  '/api/2/util/tag/autocomplete?incomplete=?'} %}
  {{ form.input('tag_string', id='field-tags', label=_('Keywords'), placeholder=_('eg. economy, mental health,
  government'), value=data.tag_string, error=errors.tags, classes=['control-full'], attrs=tag_attrs) }}
  {% endblock %}

  <!-- Contributor Name -->
  <label for="field-contributor_name"> Other Contributor Name</label><br>
  <input type="text" id="field-contributor_name" name="contributor_name" placeholder="John Smith" class="control-medium"
    value="{{ data.contributor_name }}">
  <br><br>

  <!-- Contributor Type -->
  <label for="field-contributor_type"> Other Contributor Type</label><br>
  <input type="text" id="field-contributor_type" placeholder="Author, Maintainer .." class="control-medium"
    value="{{ data.contributor_type }}" name="contributor_type">
  <br><br>

  <!-- Publication Year -->
  <label for="field-publication_date">Publication Date</label><br>
  <input type="date" id="field-publication_date" class="control-medium" name="publication_date"
    value="{{ data.publication_year }}">
  <br><br>

  <!-- Web Address -->
  <label for="field-webAddress">Web Address</label><br>
  <input type="text" id="field-webAddress" placeholder="http://example.com" class="control-medium"
    value="{{ data.webAddress }}" name="webAddress">
  <br><br>

  <!-- Existing DOI -->
  <label for="field-existing_doi">DOI</label><br>
  <input type="text" id="field-existing_doi" placeholder="10.1234/5678" class="control-medium"
    value="{{ data.existing_doi }}" name="existing_doi">
  <br><br>

  <!-- Related Output -->
  <label for="field-relatedOutput">Related Output</label><br>
  <input type="text" id="field-relatedOutput" placeholder="eg. Related output" class="control-medium"
    value="{{ data.relatedOutput }}" name="relatedOutput">
  <br><br>

  <!-- Open Access -->
  <label for="field-openAccess">Open Access</label><br>
  <select id="openAccess" name="openAccess">
    <option value="">Select an option</option>
    <option value="green_open_access">Published as green open access</option>
    <option value="gold_open_access">Published as ‘gold’ (paid) open access</option>
    <option value="bronze_open_access">Published as ‘bronze’ open access</option>
    <option value="non_open_access">Published as non-open access</option>
  </select>
  <br><br>
  <script>
    if ("{{ data.openAccess }}") {
      document.getElementById("openAccess").value = "{{ data.openAccess }}";
    }
  </script>

  <!-- Funder Code -->
  <label for="field-funder_code">Funder Code</label><br>
  <input type="text" id="field-funder_code" placeholder="eg. Funder Code" class="control-medium"
    value="{{ data.funder_code }}" name="funder_code">
  <br><br>

  <!-- Funder Name -->
  <label for="field-funder_name">Funder </label><br>
  <input type="text" id="field-funder_name" placeholder="eg. Funder Name" class="control-medium"
    value="{{ data.funder_name }}" name="funder_name">
  <br><br>

  <!-- Embargo Period -->
  <label for="field-embargo_period">Embargo Period</label><br>
  <input type="text" id="field-embargo_period" placeholder="eg. Embargo Period" class="control-medium"
    value="{{ data.embargo_period }}" name="embargo_period">
  <br><br>

  <!-- Output Status -->
  <label for="field-output_status">Output Status</label><br>
  <select id="output_status" name="output_status">
    <option value="">Select an option</option>
    <option value="published">Published</option>
    <option value="submitted">Submitted</option>
    <option value="in_preparation">In Preparation</option>
    <option value="in_press">In Press</option>
    <option value="unpublished">Unpublished</option>
  </select>
  <br><br>
  <script>
    if ("{{ data.output_status }}") {
      document.getElementById("output_status").value = "{{ data.output_status }}";
    }
  </script>

  <!-- Strategic Area -->
  <label for="field-strategic_area">Strategic Area</label><br>
  <input type="text" id="field-strategic_area" placeholder="eg. Strategic Area" class="control-medium"
    value="{{ data.strategic_area }}" name="strategic_area">
  <br><br>

  <!-- Site -->
  <label for="field-site">Site</label><br>
  <input type="text" id="field-site" placeholder="eg. Site" class="control-medium" value="{{ data.site }}" name="site">
  <br><br>

  <!-- Additional Information -->
  <label for="field-additional_information">Additional Information</label><br>
  <textarea id="field-additional_information" placeholder="eg. Additional Information" class="control-medium"
    style="width: 500px; height: 50px;" name="additional_information"> {{ data.additional_information }} </textarea>
  <br><br>

  <!-- National Capability -->
  <label for="field-national_capability">Have you used National Capabilty data?</label><br>
  <select id="field-national_capability" class="control-medium" name="national_capability">
    <option value="">Select an option</option>
    <option value="yes">Yes</option>
    <option value="no">No</option>
  </select>
  <br><br>
  <script>
    if ("{{ data.national_capability }}") {
      document.getElementById("field-national_capability").value = "{{ data.national_capability }}";
    }
  </script>


  <!-- National Capability List -->
  <label for="field-national_capability_list">If yes</label><br>
  <input type="checkbox" id="NCL_long_term_experiments" name="national_capability_list" value="Long term experiments">
  <label for="NCL_long_term_experiments">Long term experiments</label><br>
  <input type="checkbox" id="NCL_insect_survey" name="national_capability_list" value="Insect survey">
  <label for="NCL_insect_survey">Insect survey</label><br>
  <input type="checkbox" id="NCL_farm_platform" name="national_capability_list" value="Farm platform">
  <label for="NCL_farm_platform">Farm platform</label><br><br>

  <!-- Patentable -->
  <label for="field-patentable">Is anything in this manuscript potentially patentable? </label><br>
  <select id="patentable" name="patentable">
    <option value="yes">Yes</option>
    <option value="no">No</option>
  </select>
  <br><br>

  <!-- Publication Type -->
  <label for="field-publication_type">Publication Type</label><br>
  <select id="field-publication_type" class="control-medium" onchange="printSelection()" name="publication_type">
    <option value="">Select an option</option>
    <option value="Papers appearing in refereed journals">Papers appearing in refereed journals</option>
    <option value="Book chapters etc. edited externally">Book chapters etc. edited externally</option>
    <option value="Edited contributions to conferences/learned societies">Edited contributions to conferences/learned
      societies</option>
    <option value="Report">Report</option>
    <option value="Preprint article">Preprint article</option>
    <option value="Books edited/written by staff member, alone/with others">Books edited/written by staff member,
      alone/with others</option>
    <option value="Theses">Theses</option>
    <option value="Articles in popular magazines and other technical publications">Articles in popular magazines and
      other
      technical publications</option>
    <option value="Patents">Patents</option>
    <option value="Computer programs">Computer programs</option>
    <option value="Protein or DNA sequences submitted to database">Protein or DNA sequences submitted to database
    </option>
    <option value="Plant variety">Plant variety</option>
    <option value="Agricultural models">Agricultural models</option>
    <option value="Datasets">Datasets</option>
  </select>
  <br><br>


  <hr style="height:2px;border-width:0;color:black;background-color:gray">


  <!-- 
#########################
#########################
#### Specific Fields ####
#########################
#########################
-->

  <!-- Journal -->

  <div id="journal_div" style="display: none;">
    <label for="field-journal">Journal</label><br>
    <input type="text" id="field-journal" placeholder="Journal of Example" class="control-medium"
      value="{{ data.journal }}" name="journal">
    <br><br>
  </div>

  <!-- Publisher -->
  <div id="publisher_div" style="display: none;">
    <label for="field-publisher">Publisher</label><br>
    <input type="text" id="field-publisher" placeholder="Publisher Name" class="control-medium"
      value="{{ data.publisher }}" name="publisher">
    <br><br>
  </div>

  <div id="journal_volume_div" style="display: none;">
    <!-- Journal Volume -->
    <label for="field-journal_volume">Journal Volume</label><br>
    <input type="text" id="field-journal_volume" placeholder="Volume 1" class="control-medium"
      value="{{ data.journal_volume }}" name="journal_volume">
    <br><br>
  </div>

  <div id="journal_issue_div" style="display: none;">
    <!-- Journal Issue -->
    <label for="field-journal_issue">Journal Issue</label><br>
    <input type="text" id="field-journal_issue" placeholder="Issue 1" class="control-medium"
      value="{{ data.journal_issue }}" name="journal_issue">
    <br><br>
  </div>

  <div id="journal_page_range_div" style="display: none;">
    <!-- Journal Page Range -->
    <label for="field-journal_page_range">Journal Page Range</label><br>
    <input type="text" id="field-journal_page_range" placeholder="1-10" class="control-medium"
      value="{{ data.journal_page_range }}" name="journal_page_range">
    <br><br>
  </div>

  <div id="isbn_div" style="display: none;">
    <!-- ISBN -->
    <label for="field-isbn">ISBN</label><br>
    <input type="text" id="field-isbn" placeholder="978-3-16-148410-0" class="control-medium" value="{{ data.isbn }}"
      name="isbn">
    <br><br>
  </div>

  <div id="issn_div" style="display: none;">
    <!-- ISSN -->
    <label for="field-issn">ISSN</label><br>
    <input type="text" id="field-issn" placeholder="1234-5678" class="control-medium" value="{{ data.issn }}"
      name="issn">
    <br><br>
  </div>

  <div id="placeOf_publication_div" style="display: none;">
    <!-- Place of Publication -->
    <label for="field-placeOf_publication">Place of Publication</label><br>
    <input type="text" id="field-placeOf_publication" placeholder="New York" class="control-medium"
      value="{{ data.placeOf_publication }}" name="placeOf_publication">
    <br><br>
  </div>

  <div id="pubMedID_div" style="display: none;">
    <!-- pubMedID -->
    <label for="field-pubMedID">PubMed ID</label><br>
    <input type="text" id="field-pubMedID" placeholder="12345678" class="control-medium" value="{{ data.pubMedID }}"
      name="pubMedID">
    <br><br>
  </div>


  <div id="book_edition_div" style="display: none;">
    <!-- book edition -->
    <label for="book_edition">book edition</label><br>
    <input type="text" id="book_edition" name="book_edition" value="{{ data.book_edition }}"><br><br>
  </div>
  <div id="book_series_div" style="display: none;">
    <!-- book series -->
    <label for="book_series">book series</label><br>
    <input type="text" id="book_series" name="book_series" value="{{ data.book_series }}"><br><br>
  </div>

  <div id="conference_type_div" style="display: none;">
    <label for="conference_type">conference type</label><br>
    <input type="text" id="conference_type" name="conference_type" value="{{ data.conference_type }}"><br><br>
  </div>
  <div id="conference_location_div" style="display: none;">
    <!-- conference location -->
    <label for="conference_location">conference location</label><br>
    <input type="text" id="conference_location" name="conference_location"
      value="{{ data.conference_location }}"><br><br>
  </div>
  <div id="conference_date_div" style="display: none;">
    <!-- conference date -->
    <label for="conference_date">conference date</label><br>
    <input type="date" id="conference_date" name="conference_date" value="{{ data.conference_date }}"><br><br>
  </div>

  <div id="thesis_type_div" style="display: none;">
    <!-- thesis type -->
    <label for="field-thesis_type">Thesis Type</label><br>
    <select id="field-thesis_type" class="control-medium" name="thesis_type">
      <option value="">Select an option</option>
      <option value="MPhil Thesis">MPhil Thesis</option>
      <option value="Masters Thesis">Masters Thesis</option>
      <option value="PhD Thesis">PhD Thesis</option>
      <option value="Prof Doc Thesis">Prof Doc Thesis</option>
    </select>
    <br><br>
  </div>
  <script>
    if ("{{ data.thesis_type }}") {
      document.getElementById("field-thesis_type").value = "{{ data.thesis_type }}";
    }
  </script>

  <div id="thesis_qualification_name_div" style="display: none;">
    <!-- thesis qualification name -->
    <label for="field-thesis_qualification_name">Thesis Qualification Name</label><br>
    <input type="text" id="field-thesis_qualification_name" placeholder="eg. Thesis Qualification Name"
      class="control-medium" value="{{ data.thesis_qualification_name }}" name="thesis_qualification_name">
    <br><br>
  </div>

  <div id="patent_type_div" style="display: none;">
    <!-- Patent Type -->
    <label for="field-patent_type">Patent Type</label><br>
    <select id="field-patent_type" class="control-medium" name="patent_type">
      <option value="">Select an option</option>
      <option value="granted">Patent Granted</option>
      <option value="applied">Patent Applied for</option>
      <option value="N/A">N/A</option>
    </select>
    <br><br>
  </div>
  <script>
    if ("{{ data.patent_type }}") {
      document.getElementById("field-patent_type").value = "{{ data.patent_type }}";
    }
  </script>

  <!-- Patent Applicant -->
  <div id="patent_applicant_div" style="display: none;">
    <label for="field-patent_applicant">Patent Applicant</label><br>
    <input type="text" id="field-patent_applicant" placeholder="eg. Patent Applicant" class="control-medium"
      value="{{ data.patent_applicant }}" name="patent_applicant">
    <br><br>
  </div>

  <div id="patent_id_div" style="display: none;">
    <!-- Patent ID -->
    <label for="field-patent_id">Patent ID</label><br>
    <input type="text" id="field-patent_id" placeholder="eg. Patent ID" class="control-medium"
      value="{{ data.patent_id }}" name="patent_id">
    <br><br>
  </div>

  <div id="dataset_version_div" style="display: none;">
    <!-- Dataset Version -->
    <label for="field-dataset_version">Dataset Version</label><br>
    <input type="text" id="field-dataset_version" placeholder="eg. Dataset Version" class="control-medium"
      value="{{ data.dataset_version }}" name="dataset_version">
    <br><br>
  </div>
  <div id="dataset_data_type_div" style="display: none;">
    <!-- Dataset Data Type -->
    <label for="field-dataset_data_type">Dataset Data Type</label><br>
    <input type="text" id="field-dataset_data_type" placeholder="eg. Dataset Data Type" class="control-medium"
      value="{{ data.dataset_data_type }}" name="dataset_data_type">
    <br><br>
  </div>

  <div id="dataset_content_div" style="display: none;">
    <!-- Dataset Content -->
    <label for="field-dataset_content">Dataset Content</label><br>
    <input type="text" id="field-dataset_content" placeholder="eg. Dataset Content" class="control-medium"
      value="{{ data.dataset_content }}" name="dataset_content">
    <br><br>
  </div>

  <div id="dataset_collection_start_div" style="display: none;">
    <!-- Dataset Collection Start -->
    <label for="field-dataset_collection_start">Dataset Collection Start</label><br>
    <input type="date" id="field-dataset_collection_start" placeholder="eg. Dataset Collection Start"
      class="control-medium" value="{{ data.dataset_collection_start }}" name="dataset_collection_start">
    <br><br>
  </div>

  <div id="dataset_collection_end_div" style="display: none;">
    <!-- Dataset Collection End -->
    <label for="field-dataset_collection_end">Dataset Collection End</label><br>
    <input type="date" id="field-dataset_collection_end" placeholder="eg. Dataset Collection End" class="control-medium"
      value="{{ data.dataset_collection_end }}" name="dataset_collection_end">
    <br><br>
  </div>

  <div id="dataset_collection_method_div" style="display: none;">
    <!-- Dataset Collection Method -->
    <label for="field-dataset_collection_method">Dataset Collection Method</label><br>
    <input type="text" id="field-dataset_collection_method" placeholder="eg. Dataset Collection Method"
      class="control-medium" value="{{ data.dataset_collection_method }}" name="dataset_collection_method">
    <br><br>
  </div>

  <div id="dataset_data_prep_method_div" style="display: none;">
    <!-- Dataset Data Prep Method -->
    <label for="field-dataset_data_prep_method">Data preparation and processing activities</label><br>
    <input type="text" id="field-dataset_data_prep_method" placeholder="eg. Data preparation and processing activities"
      class="control-medium" value="{{ data.dataset_data_prep_method }}" name="dataset_data_prep_method">
    <br><br>
  </div>

  <div id="dataset_data_retention_date_div" style="display: none;">
    <!-- Dataset Data Retention Date -->
    <label for="field-dataset_data_retention_date">Dataset Data Retention Date</label><br>
    <input type="date" id="field-dataset_data_retention_date" placeholder="eg. Dataset Data Retention Date"
      class="control-medium" value="{{ data.dataset_data_retention_date }}" name="dataset_data_retention_date">
    <br><br>
  </div>
  <div id="dataset_retention_action_div" style="display: none;">
    <!-- Dataset Retention Action -->
    <label for="field-dataset_retention_action">Dataset Retention Action</label><br>
    <input type="text" id="field-dataset_retention_action" placeholder="eg. Dataset Retention Action"
      class="control-medium" value="{{ data.dataset_retention_action }}" name="dataset_retention_action">
    <br><br>
  </div>

  <script>
    function printSelection() {
      const selectElement = document.getElementById('field-publication_type');
      const selectedValue = selectElement.options[selectElement.selectedIndex].value;
      //console.log('Selected publication type:', selectedValue);
      if (selectedValue == "") {
        hide_optional_fields();
        clear_fields();
        console.log("no type");
      }
      else if (selectedValue == "Papers appearing in refereed journals") {
        hide_optional_fields();
        clear_fields();
        show_referred_journal_fields();
      }
      else if (selectedValue == "Book chapters etc. edited externally") {
        hide_optional_fields();
        clear_fields();
        show_book_chapter_fields();
      }
      else if (selectedValue == "Edited contributions to conferences/learned societies") {
        hide_optional_fields();
        clear_fields();
        show_conference_fields();
      }
      else if (selectedValue == "Report") {
        clear_fields();
        hide_optional_fields();
      }
      else if (selectedValue == "Preprint article") {
        clear_fields();
        hide_optional_fields();
      }
      else if (selectedValue == "Books edited/written by staff member, alone/with others") {
        hide_optional_fields();
        clear_fields();
        show_book_edited_fields();
      }
      else if (selectedValue == "Theses") {
        hide_optional_fields();
        clear_fields();
        show_thesis_fields();
      }
      else if (selectedValue == "Articles in popular magazines and other technical publications") {
        hide_optional_fields();
        clear_fields();
      }
      else if (selectedValue == "Patents") {
        hide_optional_fields();
        clear_fields();
        show_patents_fields();
      }
      else if (selectedValue == "Protein or DNA sequences submitted to database") {
        clear_fields();
        hide_optional_fields();
      }
      else if (selectedValue == "Plant variety") {
        clear_fields();
        hide_optional_fields();
      }
      else if (selectedValue == "Agricultural models") {
        clear_fields();
        hide_optional_fields();
      }
      else if (selectedValue == "Datasets") {
        clear_fields();
        hide_optional_fields();
        show_dataset_fields();
      }
    }


    function clear_fields() {
      console.log("clearing fields");
      document.getElementById("field-journal").value = "";
      document.getElementById("field-publisher").value = "";
      document.getElementById("field-journal_volume").value = "";
      document.getElementById("field-journal_issue").value = "";
      document.getElementById("field-journal_page_range").value = "";
      document.getElementById("field-isbn").value = "";
      document.getElementById("field-issn").value = "";
      document.getElementById("field-placeOf_publication").value = "";
      document.getElementById("field-pubMedID").value = "";
      document.getElementById("book_edition").value = "";
      document.getElementById("book_series").value = "";
      document.getElementById("conference_type").value = "";
      document.getElementById("conference_location").value = "";
      document.getElementById("conference_date").value = "";
      document.getElementById("field-thesis_type").value = "";
      document.getElementById("field-thesis_qualification_name").value = "";
      document.getElementById("field-patent_type").value = "";
      document.getElementById("field-patent_applicant").value = "";
      document.getElementById("field-patent_id").value = "";
      document.getElementById("field-dataset_version").value = "";
      document.getElementById("field-dataset_data_type").value = "";
      document.getElementById("field-dataset_content").value = "";
      document.getElementById("field-dataset_collection_start").value = "";
      document.getElementById("field-dataset_collection_end").value = "";
      document.getElementById("field-dataset_collection_method").value = "";
      document.getElementById("field-dataset_data_prep_method").value = "";
      document.getElementById("field-dataset_data_retention_date").value = "";
      document.getElementById("field-dataset_retention_action").value = "";
    }
    function hide_optional_fields() {
      document.getElementById("journal_div").style.display = "none";
      document.getElementById("publisher_div").style.display = "none";
      document.getElementById("journal_volume_div").style.display = "none";
      document.getElementById("journal_issue_div").style.display = "none";
      document.getElementById("journal_page_range_div").style.display = "none";
      document.getElementById("isbn_div").style.display = "none";
      document.getElementById("issn_div").style.display = "none";
      document.getElementById("placeOf_publication_div").style.display = "none";
      document.getElementById("pubMedID_div").style.display = "none";
      document.getElementById("book_edition_div").style.display = "none";
      document.getElementById("book_series_div").style.display = "none";
      document.getElementById("conference_type_div").style.display = "none";
      document.getElementById("conference_location_div").style.display = "none";
      document.getElementById("conference_date_div").style.display = "none";
      document.getElementById("thesis_type_div").style.display = "none";
      document.getElementById("thesis_qualification_name_div").style.display = "none";
      document.getElementById("patent_type_div").style.display = "none";
      document.getElementById("patent_applicant_div").style.display = "none";
      document.getElementById("patent_id_div").style.display = "none";
      document.getElementById("dataset_version_div").style.display = "none";
      document.getElementById("dataset_data_type_div").style.display = "none";
      document.getElementById("dataset_content_div").style.display = "none";
      document.getElementById("dataset_collection_start_div").style.display = "none";
      document.getElementById("dataset_collection_end_div").style.display = "none";
      document.getElementById("dataset_collection_method_div").style.display = "none";
      document.getElementById("dataset_data_prep_method_div").style.display = "none";
      document.getElementById("dataset_data_retention_date_div").style.display = "none";
      document.getElementById("dataset_retention_action_div").style.display = "none";


    }

    function show_referred_journal_fields() {
      document.getElementById("journal_div").style.display = "block";
      document.getElementById("publisher_div").style.display = "block";
      document.getElementById("journal_volume_div").style.display = "block";
      document.getElementById("journal_issue_div").style.display = "block";
      document.getElementById("journal_page_range_div").style.display = "block";
      document.getElementById("isbn_div").style.display = "block";
      document.getElementById("issn_div").style.display = "block";
    }

    function show_book_chapter_fields() {
      document.getElementById("book_edition_div").style.display = "block";
      document.getElementById("book_series_div").style.display = "block";
      document.getElementById("isbn_div").style.display = "block";
      document.getElementById("issn_div").style.display = "block";
    }

    function show_conference_fields() {
      document.getElementById("conference_type_div").style.display = "block";
      document.getElementById("conference_location_div").style.display = "block";
      document.getElementById("conference_date_div").style.display = "block";
    }
    function show_book_edited_fields() {
      document.getElementById("book_edition_div").style.display = "block";
      document.getElementById("book_series_div").style.display = "block";
      document.getElementById("isbn_div").style.display = "block";
      document.getElementById("issn_div").style.display = "block";
      document.getElementById("placeOf_publication_div").style.display = "block";
    }
    function show_thesis_fields() {
      document.getElementById("thesis_type_div").style.display = "block";
      document.getElementById("thesis_qualification_name_div").style.display = "block";
    }

    function show_patents_fields() {
      document.getElementById("patent_type_div").style.display = "block";
      document.getElementById("patent_applicant_div").style.display = "block";
      document.getElementById("patent_id_div").style.display = "block";
    }

    function show_dataset_fields() {
      document.getElementById("dataset_version_div").style.display = "block";
      document.getElementById("dataset_data_type_div").style.display = "block";
      document.getElementById("dataset_content_div").style.display = "block";
      document.getElementById("dataset_collection_start_div").style.display = "block";
      document.getElementById("dataset_collection_end_div").style.display = "block";
      document.getElementById("dataset_collection_method_div").style.display = "block";
      document.getElementById("dataset_data_prep_method_div").style.display = "block";
      document.getElementById("dataset_data_retention_date_div").style.display = "block";
      document.getElementById("dataset_retention_action_div").style.display = "block";
    }

  </script>

  <!-- Data Retention and Display -->
  <script>
    if ("{{data.publication_type}}") {
      console.log("data.publication_type: ", "{{data.publication_type}}");
      printSelectionWithData();
    }
    if ("{{data.openAccess}}") {
      console.log("data.openAccess: ", "{{data.openAccess}}");
      printOpenAccessWithData("{{data.openAccess}}");
    }
    function printSelectionWithData() {
      const selectElement = document.getElementById('field-publication_type');
      const selectedValue = "{{ data.publication_type }}";
      selectElement.value = selectedValue;
      console.log('Selected publication type with data:', selectedValue);
      //console.log('Selected publication type:', selectedValue);
      if (selectedValue == "") {

        hide_optional_fields();
        // clear_fields();
        console.log("no type");
      }
      else if (selectedValue == "Papers appearing in refereed journals") {
        hide_optional_fields();
        // clear_fields();
        show_referred_journal_fields();
      }
      else if (selectedValue == "Book chapters etc. edited externally") {
        hide_optional_fields();
        // clear_fields();
        show_book_chapter_fields();
      }
      else if (selectedValue == "Edited contributions to conferences/learned societies") {
        hide_optional_fields();
        // clear_fields();
        show_conference_fields();
      }
      else if (selectedValue == "Report") {
        // clear_fields();
        hide_optional_fields();
      }
      else if (selectedValue == "Preprint article") {
        // clear_fields();  
        hide_optional_fields();
      }
      else if (selectedValue == "Books edited/written by staff member, alone/with others") {
        hide_optional_fields();
        // clear_fields();
        show_book_edited_fields();
      }
      else if (selectedValue == "Theses") {
        hide_optional_fields();
        // clear_fields();
        show_thesis_fields();
      }
      else if (selectedValue == "Articles in popular magazines and other technical publications") {
        hide_optional_fields();
        // clear_fields();
      }
      else if (selectedValue == "Patents") {
        hide_optional_fields();
        // clear_fields();
        show_patents_fields();
      }
      else if (selectedValue == "Protein or DNA sequences submitted to database") {
        // clear_fields();
        hide_optional_fields();
      }
      else if (selectedValue == "Plant variety") {
        // clear_fields();
        hide_optional_fields();
      }
      else if (selectedValue == "Agricultural models") {
        // clear_fields();
        hide_optional_fields();
      }
      else if (selectedValue == "Datasets") {
        // clear_fields();
        hide_optional_fields();
        show_dataset_fields();
      }
    }
    function printOpenAccessWithData(openAccess) {
      const openAccessElement = document.getElementById('openAccess');
      console.log('Open Access value:', openAccess);
    }

  </script>
</body>
{% endblock %}