{% ckan_extends %}
{% block package_basic_fields_custom %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
{{ form.input('custom_text', label=_('Custom Text'), id='field-custom_text', placeholder=_('custom text'),
value=data.custom_text, error=errors.custom_text, classes=['control-medium']) }}

<style>
  #inputField {
    display: none;
  }

  .dataset_arrowarrow {
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    transition: transform 0.3s;
  }

  .dataset_arrow.collapsed {
    transform: rotate(180deg);
  }

  .report_arrow {
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    transition: transform 0.3s;
  }

  .report_arrow.collapsed {
    transform: rotate(180deg);
  }
</style>

<body>
  <h3 id="dataset_heading">Dataset<span class="dataset_arrow">&#9660;</span></h3>
  <div id="datasetField">
    <label for="dataset_name">Dataset Name</label><br>
    <input type="text" id="dataset_name" name="dataset_name"><br><br>
    <label for="dataset_id>Dataset ID">Dataset ID</label><br>
    <input type="text" id="dataset_id" name="dataset_id"><br><br>
  </div>

  <script>
    console.log("helllo");
    document.getElementById('datasetheading').addEventListener('click', function () {
      var inputField = document.getElementById('datasetField');
      var arrow = document.querySelector('.dataset_arrow');
      if (inputField.style.display === 'none') {
        inputField.style.display = 'block';
        arrow.classList.add('collapsed');
      } else {
        inputField.style.display = 'none';
        arrow.classList.remove('collapsed');
      }
    });
  </script>

  <h3 id="report_heading">Report<span class="report_arrow">&#9660;</span></h3>
  <div id="reportField">
    <label for="report_name">Report Name</label><br>
    <input type="text" id="report_name" name="report_name"><br><br>
    <label for="report_id">Report ID</label><br>
    <input type="text" id="report_id" name="report_id"><br><br>
  </div>
  <script>
    console.log("helllo");
    document.getElementById('reportheading').addEventListener('click', function () {
      var inputField = document.getElementById('reportField');
      var arrow = document.querySelector('.dataset_arrow');
      if (inputField.style.display === 'none') {
        inputField.style.display = 'block';
        arrow.classList.add('collapsed');
      } else {
        inputField.style.display = 'none';
        arrow.classList.remove('collapsed');
      }
    });
  </script>
</body>
{% endblock %}