{% ckan_extends %}

{# You could remove 'free extras' from the package form like this, but we keep them for this example's tests.
{% block alternative_name %}
{% endblock %}
{% block publication_type %}
{% endblock %}
{% block publication_year %}
{% endblock %}
{% block contributor_name %}
{% endblock %}
{% block contributor_email %}
{% endblock %}
{% block contributor_type %}
{% endblock %}
{% block journal %}
{% endblock %}
{% block publisher %}
{% endblock %}
{% block journal_volume %}
{% endblock %}
{% block journal_issue %}
{% endblock %}
{% block journal_page_range %}
{% endblock %}
{% block isbn %}
{% endblock %}
{% block issn %}
{% endblock %}
{% block placeOf_publication %}
{% endblock %}
{% block existing_doi %}
{% endblock %}
{% block pubMedID %}
{% endblock %}
{% block webAddress %}
{% endblock %}
{% block relatedOutput %}
{% endblock %}
{% block openAccess %}
{% endblock %}
{% block funder_code %}
{% endblock %}
{% block funder_name %}
{% endblock %}
{% block output_status %}
{% endblock %}
{% block strategic_area %}
{% endblock %}
{% block site %}
{% endblock %}
{% block additional_information %}
{% endblock %}
{% block national_capability %}
{% endblock %}
{% block national_capability_list %}
{% endblock %}
{% block patentable %}
{% endblock %}
{% block book_edition %}
{% endblock %}
{% block book_series %}
{% endblock %}
{% block conference_type %}
{% endblock %}
{% block conference_location %}
{% endblock %}
{% block conference_date %}
{% endblock %}
{% block thesis_type %}
{% endblock %}
{% block thesis_qualification_name %}
{% endblock %}
{% block patent_type %}
{% endblock %}
{% block patent_applicant %}
{% endblock %}
{% block patent_id %}
{% endblock %}
{% block dataset_version %}
{% endblock %}
{% block dataset_data_type %}
{% endblock %}
{% block dataset_content %}
{% endblock %}
{% block dataset_collection_start %}
{% endblock %}
{% block dataset_collection_end %}
{% endblock %}
{% block dataset_collection_method %}
{% endblock %}
{% block dataset_data_prep_method %}
{% endblock %}
{% block dataset_data_retention_date %}
{% endblock %}
{% block dataset_retention_action %}
{% endblock %}
#}